<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="favicon2.ico">
    <title>Apollostage - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ApolloStage.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        @if (User.Identity.IsAuthenticated)
        {
    /*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
        <button class="border-0 bg-white"><i class=" nav-link btn btn-link text-dark fa fa-bars fa-2x"></i></button>
        <a class="navbar-brand ml-3 " asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/apollostage-logo-black.png" width="150"/></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <ul class="navbar-nav flex-grow-1">
                          
        <li class="nav-item mx-auto ">
        <div class="preWrapper">
        <div class="wrapper">
            <input id="srch" type="text" name="id" placeholder="Search" />
            <button id="bfilter" value="filter" onclick="showAlertfilter()"><i class="fa fa-filter"></i></button>
            <button type="submit" value="search" onclick="showAlert()"><i class="fa fa-search "></i></button>
        </div>
        </div>
        </li>
        </ul>
        <partial name="_LoginPartial" />
        </div>
        </div>
    </nav>*/

    <nav style="position: fixed; background-color: white; width: 100%; height: 75px; align-items: center; margin: auto; display: flex; justify-content: space-between">
        <div>
            <img src="~/img/icons/hamburger.png" width="20px" style="margin-left: 25px;" />
            <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/apollostage-logo-black.png" width="150" style="margin: 0 10px;" /></a>
        </div>
        <div>
            <input style="font-size: 12.5px; height: 30px; width: 550px; padding: 10px; " placeholder="Search" />
            <img src="~/img/icons/search.png" width="12.5px" />
            <img src="~/img/icons/filter.png" width="12.5px" />
        </div>
        <div style="margin-right: 25px;">
            <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/icons/save.png" width="25" style="margin: 0 10px;" /></a>
            <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/icons/shopping.png" width="25" style="margin: 0 10px;" /></a>
            <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/icons/user.png" width="25" style="margin: 0 10px;" /></a>
        </div>
        </nav>
    }
    </header>

    <div class="container-fluid p-0">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @if (User.Identity.IsAuthenticated)
    {
        <footer style="align-items: center; justify-content: center; text-align: center; margin: 50px;">
            <div style="margin-bottom: 20px;">
                <img src="~/img/icons/instagram.png" width="30px" style="margin: 0 7.5px;"/>
                <img src="~/img/icons/youtube.png" width="30px" style="margin: 0 7.5px;" />
                <img src="~/img/icons/twitter.png" width="30px" style="margin: 0 7.5px;" />
            </div>
            <p style=" margin:0;">Keep up with us in <b> our social media</b>!</p>
            <p style=" margin:0;">2024 © <b>Apollostage</b> in association with <a href="https://www.ips.pt/" target="_blank">IPS</a></p>
            <p style=" margin-top: 20px; color: #545454;">Terms & Conditions • Privacy Policy • About Us • FAQ</p>
        </footer>
    }

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
    function showAlert() {
        var inputValue = document.getElementById('srch').value;
        alert('Search clicked value: ' + inputValue);
    }

    function showAlertfilter() {
        var inputValue = document.getElementById('srch').value;
        alert('Filter clicked value: ' + inputValue);
    }
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>