@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    string currentPath = Context.Request.Path;
}

<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ApolloStage</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ApolloStage.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        input[type=checkbox] {
            display: none;
        }

        .triggers {
            display: flex;
        }

        .content2 {
            position: absolute;
            display: none;
            z-index: 2;
            width: 100px;
            top: 100%;
            border-radius: 3px;
        }

        .label {
            padding: 0.5em 0.7em;
            cursor: pointer;
            position: relative;
        }

            .label:hover {
                background: #bcbcbc;
            }

        .triggers > input:checked + label {
            background: #bcbcbc;
            border: 1px solid transparent;
        }

            .triggers > input:checked + label > div.content2 {
                display: flex;
                top: 100%;
                padding: 0.5em;
                background: #bcbcbc;
                left: -1px;
            }

                .triggers > input:checked + label > div.content2 div {
                    padding: 0em 0.5em;
                }

                    .triggers > input:checked + label > div.content2 div + div {
                        border-left: 1px solid #7d7d7d;
                    }
    </style>
</head>
<body>
    @if (!currentPath.Equals("/", StringComparison.OrdinalIgnoreCase))
    {
        <header>
            @if (User.Identity.IsAuthenticated)
            {
                <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                    <div class="container-fluid">
                        <button class="border-0 bg-white"><i class=" nav-link btn btn-link text-dark fa fa-bars fa-2x"></i></button>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <a class="navbar-brand ml-3 " asp-area="" asp-controller="Home" asp-action="Index">
                                <button class="border-0 bg-white h-25">
                                    <img src="~/img/apollo_logo-removebg-preview.png" width="200" height="70" />
                                </button>
                            </a>
                        }
                        else
                        {
                            <a class="navbar-brand ml-3 " asp-area="" asp-controller="Account" asp-action="Login">
                                <button class="border-0 bg-white h-25">
                                    <img src="~/img/apollo_logo-removebg-preview.png" width="200" height="70" />
                                </button>
                            </a>

                        }
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                            <ul class="navbar-nav flex-grow-1">

                                <li class="nav-item mx-auto ">
                                    @using (Html.BeginForm("SearchArtist", "Home", FormMethod.Get))
                                    {
                                        <div class="preWrapper">
                                            <div class="wrapper">

                                                <input id="srch" type="text" name="id" placeholder="Search" />


                                                <div id="bfilter">
                                                    <div class='triggers'>
                                                        <input id='first' type='checkbox'>
                                                        <label class='label' for='first'>
                                                            <i class="fa fa-filter "></i>
                                                            <div class='content2'>
                                                                <div class='inner-section'>
                                                                    <span class='section-name'>Serach by:</span>
                                                                    <select name="searchType">
                                                                        <option value="Album">Album</option>
                                                                        <option value="Artist">Artist</option>
                                                                        <option value="Products">Products</option>
                                                                    </select>
                                                                </div>

                                                            </div>
                                                        </label>
                                                    </div>
                                                </div>

                                                <button type="submit" name="value" value="Pesquisar"><i class="fa fa-search "></i></button>

                                            </div>
                                        </div>


                                    }
                                </li>
                            </ul>
                            <partial name="_LoginPartialAdmin" />
                        </div>
                    </div>
                </nav>
            }


        </header>
    }
    <div class="container-fluid p-0">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @if (!currentPath.Equals("/", StringComparison.OrdinalIgnoreCase))
        {
        @if (User.Identity.IsAuthenticated)
            {
            <footer style="align-items: center; justify-content: center; text-align: center; margin: 50px;">
                <div style="margin-bottom: 20px;">
                    <img src="~/img/icons/instagram.png" width="30px" style="margin: 0 7.5px;" />
                    <img src="~/img/icons/youtube.png" width="30px" style="margin: 0 7.5px;" />
                    <img src="~/img/icons/twitter.png" width="30px" style="margin: 0 7.5px;" />
                </div>
                <p style=" margin:0;">Keep up with us in <b> our social media</b>!</p>
                <p style=" margin:0;">2024 © <b>Apollostage</b> in association with <a href="https://www.ips.pt/" target="_blank">IPS</a></p>
                <p style=" margin-top: 20px; color: #545454;">Terms & Conditions • Privacy Policy • About Us • FAQ</p>
            </footer>
            }
        }
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
        <script>// Aguarde o DOM estar totalmente carregado
            document.addEventListener('DOMContentLoaded', function () {
                // Obtenha o elemento de input com o id "srch"
                var inputElement = document.getElementById('srch');

                // Obtenha o elemento do botão "Pesquisar"
                var searchButton = document.querySelector('button[value="Pesquisar"]');

                // Adicione um ouvinte de evento ao input para detectar mudanças
                inputElement.addEventListener('input', function () {
                    // Atribua o valor do input ao atributo "value" do botão "Pesquisar"
                    searchButton.value = inputElement.value;
                });
            });</script>

    </body>
</html>

