@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    string currentPath = Context.Request.Path;
}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
    .navbar-nav {
        display: flex;
        align-items: center;
    }

        .navbar-nav .nav-item {
            margin-right: 10px;
        }

            .navbar-nav .nav-item:last-child {
                margin-right: 0;
            }
</style>


<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {

        @if (currentPath.Equals("/Account/ListenList", StringComparison.OrdinalIgnoreCase))
        {
            <li class="nav-item mr-3">
                <form method="get" asp-controller="Account" asp-action="ListenList">
                    <button type="submit" class="nav-link btn btn-link text-dark">
                        <i class="fa fa-bookmark-o fa-2x"></i>
                    </button>
                </form>
            </li>
        }
        else
        {
            <li class="nav-item mr-3">
                <form method="get" asp-controller="Account" asp-action="ListenList">
                    <button type="submit" class="nav-link btn btn-link text-dark">
                        <i class="fa fa-bookmark fa-2x"></i>
                    </button>
                </form>
            </li>
        }

        <li class="nav-item mr-3">
            <form method="get" asp-controller="Market" asp-action="market">
                <button type="submit" class="nav-link btn btn-link text-dark">
                    <i class="fa fa-shopping-bag fa-2x"></i>
                </button>
            </form>
        </li>

        <li class="nav-item mr-3">
            <form method="post" asp-controller="Account" asp-action="Logout">
                <button type="submit" class="nav-link btn btn-link text-dark"><i class="fa fa-user fa-2x"></i></button>
            </form>
        </li>

        <li class="nav-item mr-3">
            <form method="get" asp-controller="Market" asp-action="addProducts">
                <button type="submit" class="nav-link btn btn-link text-dark"><i class="fa fa-pencil fa-2x"></i></button>
            </form>
        </li>

        <li class="nav-item mr-3">
            <button type="button" class="btn btn-success" data-toggle="modal"
                    data-target="#staticBackdrop">
                <i class="fa fa-shopping-cart total-count"></i>
            </button>
        </li>

            }

    </ul>

    
<style>
    button.btn.btn-success i {
        color: black;
        font-size: 25px;
    }

    .btn-success {
        color: #fff;
        background-color: white;
        border-color: white;
    }

        .btn-success:hover {
            color: #fff;
            background-color: white;
            border-color: grey;
        }

        .btn-check:focus + .btn-success, .btn-success:focus {
            color: #fff !important;
            background-color: white !important;
            border-color: grey !important;
            box-shadow: none !important;
        }
</style>