@using System.Security.Claims;
@model List<Album>

@{
    string meu = TempData["meu"]?.ToString();

}

@{
    ViewData["Title"] = "Home Page";
    @if (meu == "False")
        Layout = "~/Views/Shared/_Layout.cshtml";
    else
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>


</head>
@if (User.Identity.IsAuthenticated)
{

    <div class="parallax"></div>
    <div style="margin: 0 75px;">
        <div style="justify-content: center; text-align: center;">
            <p style="font-size: 17.5px; margin-bottom: 5px; margin-top: 40px;"><span style="color: #00bf63; font-weight: bold;">NEW</span> • <span style="color: #545454;">OCTOBER 6, 2023</span></p>
            <p style="font-size: 40px; margin: 0;"><span style="font-weight: bold;">FOR ALL THE DOGS</span>, DRAKE</p>
            <p style="color: #545454; font-size: 20px; text-align: justify;">
                The eighth studio album by Canadian rapper is a mixture between Drake’s old rap style and some sound
                experiments of the modern era. It features several partnerships with artists who have already collaborated
                with Drake, showing the loyalty and credibility of his sound. Available on the stream platforms and music stores,
                go get it and enjoy the new work of art!
            </p>
            <div class="container mt-5">
         <button class="btn btn-primary" id="openModalBtn">help</button>
     </div>

        </div>
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <!-- Modal for the video -->
    <div class="modal" id="myModal">
        <div class="modal-content">
            <span class="close" id="closeModalBtn">&times;</span>
            <h2>Pop-up Arrastável</h2>
            <iframe width="80%" height="80%" style="margin: auto;"
                    src="https://www.youtube.com/embed/tgbNymZ7vqY?autoplay=1&mute=0">
            </iframe>
        </div>
    </div>
}

@if (User.Identity.IsAuthenticated)
{
    @if (Model.Count != 0)
    {
        <section class="game-section">
            <h2 class="line-title">Trending Album's</h2>
            <div class="owl-carousel custom-carousel owl-theme">

                @foreach (var playlist in Model)
                {

                    @if (playlist.images != null)
                    {
                        <div class="item" style="background-image: url(@playlist.images[0].URL);">
                            <div class="item-desc">
                                <h3>@playlist.name</h3>
                                <a href="@playlist.external_urls.spotify" target="_blank">
                                    <button type="submit" class="btn btn-danger">View on Spotify</button>
                                </a>
                            </div>
                        </div>
                    }
                }
            </div>
        </section>

    }
}






<style>

    .clear {
        clear: both;
    }

    img {
        max-width: 100%;
        border: 0px;
    }

    ul, ol {
        list-style: none;
    }

    a {
        text-decoration: none;
        color: inherit;
        outline: none;
        transition: all 0.4s ease-in-out;
        -webkit-transition: all 0.4s ease-in-out;
    }

        a:focus, a:active, a:visited, a:hover {
            text-decoration: none;
            outline: none;
        }

        a:hover {
            color: #e73700;
        }

    h2 {
        margin-bottom: 48px;
        padding-bottom: 16px;
        font-size: 40px;
        line-height: 28px;
        font-weight: 700;
        position: relative;
        text-transform: capitalize;
    }

    h3 {
        margin: 0 0 10px;
        font-size: 28px;
        line-height: 36px;
    }

    button {
        outline: none !important;
    }
    /******* Common Element CSS End *********/
    /* -------- title style ------- */
    .line-title {
        position: relative;
        width: 400px;
    }

        .line-title::before, .line-title::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            height: 4px;
            border-radius: 2px;
        }

        .line-title::before {
            width: 100%;
            background: #f2f2f2;
        }

        .line-title::after {
            width: 32px;
            background: #e73700;
        }
    /******* Middle section CSS Start ******/
    /* -------- Landing page ------- */
    .game-section {
        padding: 60px 50px;
    }

        .game-section .owl-stage {
            margin: 15px 0;
            display: flex;
            display: -webkit-flex;
        }

        .game-section .item {
            margin: 0 15px 60px;
            width: 320px;
            height: 400px;
            display: flex;
            display: -webkit-flex;
            align-items: flex-end;
            -webkit-align-items: flex-end;
            background: #343434 no-repeat center center / cover;
            border-radius: 16px;
            overflow: hidden;
            position: relative;
            transition: all 0.4s ease-in-out;
            -webkit-transition: all 0.4s ease-in-out;
            cursor: pointer;
        }

            .game-section .item.active {
                width: 500px;
                box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
                -webkit-box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
            }

            .game-section .item:after {
                content: "";
                display: block;
                position: absolute;
                height: 100%;
                width: 100%;
                left: 0;
                top: 0;
                background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
            }

        .game-section .item-desc {
            padding: 0 24px 12px;
            color: #fff;
            position: relative;
            z-index: 1;
            overflow: hidden;
            transform: translateY(calc(100% - 54px));
            -webkit-transform: translateY(calc(100% - 54px));
            transition: all 0.4s ease-in-out;
            -webkit-transition: all 0.4s ease-in-out;
        }

        .game-section .item.active .item-desc {
            transform: none;
            -webkit-transform: none;
        }

        .game-section .item-desc p {
            opacity: 0;
            -webkit-transform: translateY(32px);
            transform: translateY(32px);
            transition: all 0.4s ease-in-out 0.2s;
            -webkit-transition: all 0.4s ease-in-out 0.2s;
        }

        .game-section .item.active .item-desc p {
            opacity: 1;
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }

        .game-section .owl-theme.custom-carousel .owl-dots {
            margin-top: -20px;
            position: relative;
            z-index: 5;
        }

    .owl-dots {
        display: none;
    }

    .owl-nav.disabled {
        display: none;
    }

    body {
        overflow-x: hidden !important;
    }
</style>

<script>function carouselChanged(event) {
        var currentItemIndex = event.item.index + 2;
        $(".custom-carousel .item").removeClass("active"); 
        $(".custom-carousel .item").eq(currentItemIndex).addClass("active"); 
    }

    $(".custom-carousel").owlCarousel({
        autoWidth: true,
        loop: true,
        autoplay: true, 
        autoplayTimeout: 5000, 
        autoplayHoverPause: true, 
        onChanged: carouselChanged 

    });
    $(document).ready(function () {
        $(".custom-carousel .item").click(function () {
            $(".custom-carousel .item").not($(this)).removeClass("active");
            $(this).toggleClass("active");
        });
    });</script>




<style>    // daqui param baixo é bdo pop-up (modal for video)
    /* Estilo para o pop-up */
    #myModal {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1055;
        display: none;
        width: 400px !important;
        height: 350px !important;
        overflow-x: hidden;
        overflow-y: auto;
        outline: 0;
    }

    /* Conteúdo do pop-up */
    .modal-content {
        background-color: #fefefe;
        padding: 20px;
        border: 1px solid #888;
        width: 400px;
        height: 350px;
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        width: 17px;
        margin: 10px;
        position: absolute;
        height: 17px;
        right: -3px;
        top: -17px;
        /* margin-top: 28px; */
    }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
</style>
<script>
    document.getElementById('openModalBtn').addEventListener('click', function () {
        document.getElementById('myModal').style.display = 'block';
    });

    dragElement(document.getElementById('myModal'));

    function dragElement(element) {
        var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
        if (document.getElementById(element.id + 'header')) {
            document.getElementById(element.id + 'header').onmousedown = dragMouseDown;
        } else {
            element.onmousedown = dragMouseDown;
        }

        function dragMouseDown(e) {
            e = e || window.event;
            e.preventDefault();
            pos3 = e.clientX;
            pos4 = e.clientY;
            document.onmouseup = closeDragElement;
            document.onmousemove = elementDrag;
        }

        function elementDrag(e) {
            e = e || window.event;
            e.preventDefault();
            pos1 = pos3 - e.clientX;
            pos2 = pos4 - e.clientY;
            pos3 = e.clientX;
            pos4 = e.clientY;
            element.style.top = (element.offsetTop - pos2) + 'px';
            element.style.left = (element.offsetLeft - pos1) + 'px';
        }

        function closeDragElement() {
            document.onmouseup = null;
            document.onmousemove = null;
        }
    }

    document.getElementById('closeModalBtn').addEventListener('click', function () {
        document.getElementById('myModal').style.display = 'none';
    });</script>

<script>

    document.addEventListener("DOMContentLoaded", function () {
        setTimeout(function () {
            var modal = document.querySelector("#myModal");
            if (modal) {
                modal.style.width = "400px";
                modal.style.height = "350px";
                modal.style.setProperty("width", "400px", "important");
                modal.style.setProperty("height", "350px", "important");
            }
        }, 2000); 
    });
</script>