@using System.Security.Claims;

@{
    ViewData["Title"] = "Market";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@{
    string meu = TempData["meu"]?.ToString();
}
<div class="text-center">
    <h1 class="display-4">Add to the Market</h1>
</div>

@if (@meu == "True")
{

    <!--<div class="container mt-4">
       <div class="row justify-content-center">
           <div class="col-md-6 text-center">
               <h2 class="mb-4">Select Product Type</h2>
              <button class="btn btn-primary mb-2" id="btnMug">Add Mug</button>
    <button class="btn btn-primary mb-2" id="btnTshirt">Add T-Shirt</button>
    </div>
    </div>
    </div>-->

    <!--<div class="container mt-4" id="mugForm" style="display: none;">
        <h2 class="mb-4">Submit a Mug</h2>
        <form method="post" action="@Url.Action("SubmitMug", "Market")" enctype="multipart/form-data">
            <div class="form-group">
                <label for="mugDesign">Title:</label>
                <input type="text" class="form-control" id="mugTitle" name="mugTitle" required>
            </div>
            <div class="form-group">
                <label for="mugColor">Color:</label>
                <input type="text" class="form-control" id="mugColor" name="mugColor" required>
            </div>
            <div class="form-group">
                <label for="mugPrice">Price:</label>
                <input type="number" class="form-control" id="mugPrice" name="mugPrice" required>
            </div>
            <div class="form-group">
                <label for="mugDescription">Description:</label>
                <textarea class="form-control" id="mugDescription" name="mugDescription" rows="4" required></textarea>
            </div>
            <div class="form-group">
                <label for="mugImage">Image:</label>
                <input type="file" class="form-control-file" id="mugImage" name="mugImage" accept="image/*" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit Mug</button>
        </form>
    </div>-->

    @model ApolloStage.Models.Product.Tshirt

    <h2>Create a T-shirt</h2>

    <form method="post" action="@Url.Action("SubmitTShirt", "Market")" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Title" class="control-label"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Price" class="control-label"></label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Association" class="control-label"></label>
            <input asp-for="Association" class="form-control" />
            <span asp-validation-for="Association" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>



        <div class="form-group" id="imageInputs">
            <label class="control-label">Images</label>
            <div>
                <input type="file" name="Images" accept="image/*" class="image-input" />
                <input type="file" name="Images" accept="image/*" class="image-input" style="display: none;" />
                <input type="file" name="Images" accept="image/*" class="image-input" style="display: none;" />
                <input type="file" name="Images" accept="image/*" class="image-input" style="display: none;" />
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>


    <script>document.getElementById('btnMug').addEventListener('click', function () {
            document.getElementById('mugForm').style.display = 'block';
            document.getElementById('tshirtForm').style.display = 'none';
        });

        document.getElementById('btnTshirt').addEventListener('click', function () {
            document.getElementById('mugForm').style.display = 'none';
            document.getElementById('tshirtForm').style.display = 'block';
        });</script>
}
else
{
    <div class="text-center">
        <h3 class="display-4">Sem permissões para aceder :(</h3>
    </div>
}
<style>
 
    form {
        margin: auto;
        width: 80%;
    }
</style>
<script>document.querySelectorAll('.image-input').forEach(function (input, index) {
        input.addEventListener('change', function () {
            // Encontra o próximo input oculto e o torna visível
            var nextInput = this.nextElementSibling;
            if (nextInput) {
                nextInput.style.display = 'block';
            }
        });
    });</script>