@using System.Security.Claims;

@{
    ViewData["Title"] = "Market";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="text-center">
        <h1 class="display-4">Welcome to the Market</h1>
        <p>Merchandising not done yet</p>
    </div>
