@using System.Security.Claims;

@{
ViewData["Title"] = "Market";
Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
<h1 class="display-4">Welcome to our merchandising!</h1>
<p>This part of the website is in construction...</p>
</div>