@using System.Security.Claims;
@using ApolloStage.Models.Product

@model List<Product>

@{
    ViewData["Title"] = "Market";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Market</h1>
</div>

<div class="row justify-content-around mt-4">
    @foreach (var product in Model)
        {
        <div class="card mb-3 d-flex flex-column" style="max-width: 300px;">
            <div class="text-center">
                <img src="~/@product.Image" alt="produto" class="card-img-top ms-2 mt-2 border" style="max-width: 300px;">
            </div>
            <div class="mt-2 text-center w-100">
                <span class=" mb-0 ">@product.title</span>
            </div>
            <div class="text-center w-100 mb-3">
                <span class=" "> APOLLOSTAGE</span>
            </div>
            <div class="text-center w-100">
                <span class="releaseDate mb-0 "><b> @product.Price euros</b></span>
            </div>
        </div>
        }
    </div>