@model List<Artist>

<h2>Lista de Artistass</h2>

@foreach (var artist in Model)
{
    <div>
        <a href="@Url.Action("IndexArtist", "Home", new { id = artist.id })">
            <img src="@artist.images[0].URL" alt="@artist.name" />
            <p>@artist.name</p>
        </a>
    </div>
}
