@model Artist
@{
    string meu = TempData["meu"]?.ToString();
}
@{
    ViewData["Title"] = "Home Page";
    @if (meu == "True")
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    else
        Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes do Artista</h2>

<div>
    <img src="@Model.images[0].URL" alt="@Model.name" />
    <p>Nome: @Model.name</p>
</div>

<!-- Outras informações detalhadas do artista -->
