<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/d21fdc42-4ff9-4b8e-b1f7-3981dc20b052/resourceGroups/grupoderecurso/providers/Microsoft.Web/sites/apollostage1</ResourceId>
    <ResourceGroup>grupoderecurso</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://apollostage1.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://apollostage1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$apollostage1</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>