@model ApplicationUser
@{
    string meu = TempData["meu"]?.ToString();
}
@{
    ViewData["Title"] = "Home Page";
    @if (meu == "True")
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    else
        Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication3.styles.css" asp-append-version="true" />
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>


        $(document).ready(function () {
            $('#login-google-submit').click(function (e) {
                e.preventDefault();
                var attemptsLeft = parseInt($(this).data('attempts'));

                if (attemptsLeft >= -1) {
                    attemptsLeft--;
                    if (attemptsLeft != -1)
                     $(this).data('attempts', attemptsLeft).text('Resend email (' + attemptsLeft + ' Attempts)');

                    if (attemptsLeft === -1) {
                        // Redireciona para outra página quando as tentativas atingirem zero
                        window.location.href = '/Account/LimitAttempts'; // Substitua '/OutraPagina' pela URL da sua página de redirecionamento
                    }
                }

                var userEmail = '@Model.UserMail'; // Obtém o email do modelo
        $.ajax({
            url: '/Account/ResendVerificationEmail',
            type: 'POST',
            data: { userEmail: userEmail, n: attemptsLeft },
            success: function() {
                // Atualize a quantidade de tentativas na interface
                // Seu código para atualizar a quantidade de tentativas aqui
            },
            error: function() {
                console.error('Erro ao reenviar o email.');
            }
        });
            });
        });





    </script>
</head>

<header>
    <div class="container-fluid d-flex align-items-center h-25 position-relative">
        <img src="/img/apollostage-logo.png" alt="some text">
        <div class="w-100 position-absolute text-center">
            <h1 class="text-center">Recover Password</h1>
        </div>
    </div>
</header>


<body class="mt-5">
    <form method="post" asp-controller="Account" asp-action="VerifyCode">
        <div class="container " style=" display: flex; align-items: center; justify-content: center; min-height: 50vh;">
            <div class="row w-100 d-flex justify-content-center mt-5">
                <p class="text-center"> In order to confirm your account,  please enter the 4-digit code we sent  to <b>@Model.Email</b></p>
                <div class="col-md-12">
                    <div class="container">
                        <div class="d-flex justify-content-center codes">
                            <input id="code1" name="code1" class="text-center code me-5" style="width:100px; height:100px" placeholder="X" maxlength="1" />
                            <input id="code2" name="code2" class="text-center code me-5" style="width:100px; height:100px" placeholder="X" maxlength="1" />
                            <input id="code3" name="code3" class="text-center code me-5" style="width:100px; height:100px" placeholder="X" maxlength="1" />
                            <input id="code4" name="code4" class="text-center code" style="width:100px; height:100px" placeholder="X" maxlength="1" />
                            <input id="pass" name="pass" class="text-center code" style="width:100px; height:100px" placeholder="X" maxlength="1" value="pass" hidden />
                            <input type="hidden" asp-for="UserMail" />
                        </div>
                    </div>

                    <div>
                        <div class="d-flex justify-content-center mt-3">
                            <button id="login-google-submit" type="button" class="w-75 btn btn-sm-2 btn-outline-dark btn-block mt-2" style="height:70px; border-radius: 700px;" data-attempts="3">
                                Resend email (3 Attempts)
                            </button>
                        </div>


                        <div class="d-flex justify-content-center mt-1">
                            <button type="submit" class="w-75 btn btn-lg-2 btn-dark mt-2" style="height:70px; border-radius: 700px; color: #00BF63">Confirm</button>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <input type="hidden" name="UserMail" asp-for="UserMail">
    </form>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
