@using Microsoft.AspNetCore.Identity
@model ApplicationUser
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Register";
}

@{
    string meu = TempData["meu"]?.ToString();
}
@{
    ViewData["Title"] = "Home Page";
    @if (meu == "True")
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    else
        Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication3.styles.css" asp-append-version="true" />
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <script>document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('login-google-submit').addEventListener('click', function () {
                document.getElementById('google-login-form').submit();
            });
        });</script>
</head>





<body>
    <header>
        <div class="container-fluid d-flex align-items-center h-25 position-relative">
            <img src="~/img/apollostage-logo.png" alt="some text" width="250">
            <div class="w-100 position-absolute text-center">
                <h1 class="text-center">Register</h1>
            </div>
        </div>
    </header>
    <div class="container " style=" display: flex; align-items: center; justify-content: center;">
        <div class="row w-100 d-flex justify-content-center mt-5">
            <div class="col-md-8">
                <form id="registerForm" method="post" asp-controller="Account" asp-action="FirstRegister">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div id="email" class="form-floating mb-5">
                        <input asp-for="UserMail" class="form-control" aria-required="true" placeholder="E-mail" />
                        <label asp-for="UserMail">E-mail</label>
                        <span asp-validation-for="UserMail" class="text-danger"></span>
                    </div>

                    <!-- Campos ocultos -->
                    <input type="hidden" asp-for="DateOfBirth" />
                    <input type="hidden" asp-for="Country" />
                    <input type="hidden" asp-for="Gender" />
                    <input type="hidden" asp-for="Name" />
                    <input type="hidden" asp-for="Password" />
                    <input type="hidden" asp-for="ConfirmPassword" />
                    <input type="hidden" asp-for="Code" />
                    <input type="hidden" asp-for="EmailConfirmed" />

                    <div>
                        <button type="submit" class="w-100 btn btn-lg-2 btn-dark mt-2" style="height:70px; border-radius: 700px; color: #00BF63; background-color: black;">Next step</button>
                    </div>


                    <div id="login_google_OR">
                        <p class="mt-4 text-center">or</p>
                        <button id="login-google-submit" class="w-100 btn btn-sm-2 btn-block mt-2 d-flex align-items-center position-relative" style="height:70px; border-radius: 700px; background-color: white; color: black; border-color: lightgrey;">
                            <img class="rounded float-start" src="/img/icons/google.png" style="width: 25px; margin-left: 10px;">
                            <span class="position-absolute text-center w-100">Continue with Google</span>
                        </button>
                    </div>



                    <button id="registerConfirmation" type="submit" class="w-100 btn btn-lg-2 btn-dark mt-2 d-none " style="height:70px; border-radius: 700px;color: #00BF63  ">Conclude</button>
                    <div>
                        <p class="mt-4 text-center">Already have an account? <a style="font-weight: bold; color: black; text-decoration: none;" asp-controller="Account" asp-action="Login">Login here</a></p>
                    </div>
                </form>
                <form id="google-login-form" asp-action="ExternalLogin" asp-controller="Account" method="post" class="form-horizontal">
                    <input type="hidden" name="provider" value="google" />
                </form>
            </div>

        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}
