@using Microsoft.AspNetCore.Identity
@model ApplicationUser
@inject SignInManager<ApplicationUser> SignInManager

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication3.styles.css" asp-append-version="true" />
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <script>document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('login-google-submit').addEventListener('click', function () {
                document.getElementById('google-login-form').submit();
            });
        });</script>
</head>



<body>
    <header>
        <div class="container-fluid d-flex align-items-center h-25 position-relative">
            <img src="/img/apollo_logo-removebg-preview.png" alt="some text">
            <div class="w-100 position-absolute text-center">
                <h1 class="text-center"> Login</h1>
            </div>
            <div class="me-0" style="position:absolute;right:30px">
                <label> Dark Mode</label>
            </div>
        </div>
    </header>
    <div class="container " style=" display: flex; align-items: center; justify-content: center;">
        <div class="row w-100 d-flex justify-content-center mt-5">
            <div class="col-md-8">
                <section>
                    <form id="account" method="post" asp-controller="Account" asp-action="Login">
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <div class="form-outline mb-5 d-block ">
                            <h5 asp-for="UserMail">E-mail</h5>
                            <input asp-for="UserMail" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                            <span asp-validation-for="UserMail" class="text-danger validation-span" style="display: none;"></span>
                        </div>

                        <div class="form-outline mb-5">
                            <h5 asp-for="Password">Password</h5>
                            <input asp-for="Password" class="form-control" aria-required="true" />
                            <span asp-validation-for="Password" class="text-danger validation-span" style="display: none;"></span>
                        </div>
                        <div>
                            <button id="login-google-submit" class="w-100 btn btn-sm-2 btn-outline-dark btn-block mt-2 d-flex align-items-center position-relative" style="height:70px; border-radius: 700px">
                                <img class="rounded float-start" src="/img/google.png">
                                <span class="position-absolute text-center w-100">Continue with Google</span>
                            </button>
                        </div>
                        <div id="login_google_OR">
                            <h5 class="w-100 text-center mt-4 mb-4"> or </h5>
                            <button id="login-submit" type="submit" class="w-100 btn btn-lg-2 btn-dark mt-2" style="height:70px; border-radius: 700px; color:forestgreen    ">Login</button>


                        </div>

                        <div>
                            <p class="text-center mt-2">
                                <a id="forgot-password" asp-controller="Account" asp-action="ForgotPassword"><u>Forgot your password?</u></a>
                            </p>
                            <p>
                            <p class="mt-4 text-center">Don't have an account? <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Sign up to Apollostage</a>  </p>
                            </p>
                        </div>
                    </form>
                    <form id="google-login-form" asp-action="ExternalLogin" asp-controller="Account" method="post" class="form-horizontal">
                        <input type="hidden" name="provider" value="google" />
                    </form>
                </section>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>




@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('login-submit').addEventListener('click', function () {
                // Mostra os spans de validação quando o botão de login é clicado
                document.querySelectorAll('.validation-span').forEach(function (span) {
                    span.style.display = 'inline';
                });
            });

            document.getElementById('login-google-submit').addEventListener('click', function () {
                // Oculta os spans de validação quando o botão do Google é clicado
                document.querySelectorAll('.validation-span').forEach(function (span) {
                    span.style.display = 'none';
                });
            });
        });</script>
}
