@using Microsoft.AspNetCore.Identity
@model ApplicationUser
@inject SignInManager<ApplicationUser> SignInManager

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication3.styles.css" asp-append-version="true" />
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
</head>



<body>
    <header>
        <div class="container-fluid d-flex align-items-center h-25 position-relative">
            <img src="~/img/apollostage-logo-black.png" alt="some text" width="250">
            <div class="w-100 position-absolute text-center">
                <h1 class="text-center"> Recover Password</h1>
            </div>
        </div>
    </header>
    <div class="container " style=" display: flex; align-items: center; justify-content: center;">
        <div class="row w-100 d-flex justify-content-center mt-5">
            <div class="col-md-8">
                <section>
                    <form method="post" asp-controller="Account" asp-action="ChangePassword">
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <div class="form-outline mb-5 d-block ">
                            <h5 asp-for="Password">New password</h5>
                            <input asp-for="Password" class="form-control" autocomplete="Password" aria-required="true" placeholder="Insert your new password" />
                            <span asp-validation-for="Password" class="text-danger validation-span" style="display: none;"></span>
                            <input type="hidden" asp-for="UserMail" />
                        </div>



                        <div id="login_google_OR">
                            <button type="submit" class="w-100 btn btn-lg-2 btn-dark mt-2" style="height:70px; border-radius: 700px; color:forestgreen    ">Change password</button>


                        </div>

                        <div>


                            <p class="mt-4 text-center">Already have an account? <strong><a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Log in here</a></strong>  </p>

                        </div>
                    </form>

                </section>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>




@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('login-submit').addEventListener('click', function () {
                // Mostra os spans de validação quando o botão de login é clicado
                document.querySelectorAll('.validation-span').forEach(function (span) {
                    span.style.display = 'inline';
                });
            });

            document.getElementById('login-google-submit').addEventListener('click', function () {
                // Oculta os spans de validação quando o botão do Google é clicado
                document.querySelectorAll('.validation-span').forEach(function (span) {
                    span.style.display = 'none';
                });
            });
        });</script>
}
